Source: python-cyberfusion-cluster-rabbitmq-consumer
Section: misc
Priority: extra
Maintainer: William Edwards <wedwards@cyberfusion.nl>
Build-Depends: debhelper (>= 5), python3-setuptools
Standards-Version: 3.9.1

Package: python-cyberfusion-cluster-rabbitmq-consumer
Architecture: all
Depends: python-cyberfusion-common, python-cyberfusion-cluster-apicli, python3-sdnotify, python3-yaml, python3-systemd
Description: Python programs for RabbitMQ Consumers
 Python programs for RabbitMQ Consumers
