[Unit]
Description=RabbitMQ Consumer for Virtual Host with name %i
After=network.target ypconfig.service
PartOf=rabbitmq-consume.target

[Service]
Type=notify
Environment=CONFIG_FILE_PATH=/etc/cyberfusion/rabbitmq.yml
ExecStart=/usr/bin/rabbitmq-consumer --virtual-host-name %i --config-file-path $CONFIG_FILE_PATH
Restart=on-failure
RestartSec=120

# Don't kill `systemd-run --wait`. On SIGTERM, we wait for message-handling
# threads to finish (which invoke `systemd-run --wait`). Immediately killing
# `systemd-run` (with the default `KillMode`) would cause the thread to finish
# immediately (i.e. not `--wait`ing anymore), even though the transient unit
# that `systemd-run` spawned would still be running (not a child process, but
# started separately by systemd).
KillMode=mixed

RuntimeDirectory=rabbitmq-consumer-%i
RuntimeDirectoryMode=0711

[Install]
WantedBy=rabbitmq-consume.target
